# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Matlab
4. SAS

### Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. sys

|Data Science Tools|
|------------------|
|Anaconda|
|visual studio|
|Pycharm|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
munites = 200
hours = munites / 60
hours

3.3333333333333335

<font face="bold">Objectives:<font>
* List popular languages for Data Science
* Evaluating arithmetic expressions
* Commonly used libraries used by Data Scientists

## Author
###### Jianjun He